{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <h1 class="pagination-centered">Lista de Clientes</h1>
            </div>
        </div>
        <div class="row">
            <div class="row padding-top padding-bottom">
                <div class="col-xs-1 col-xs-offset-1">
                    <a class="abutton" href="{{ path('cliente_new') }}">Novo</a>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-responsive" id="index_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Cpf/Cnpj</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}



{% endblock %}