<!-- Modal Clientes -->
<div class="modal fade" id="modalClientes" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {#Div Cadastrar Novo Cliente#}
            <div class="modal-body" id="body_cadastra_cliente" hidden>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="">
                                <label>CPF/CNPJ</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_cpfcnpj" name="cliente_cpfcnpj" class="form-control" placeholder="Sem pontos e traços." >
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="">
                                <label>Nome Cliente</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_nome" name="cliente_nome" class="form-control" placeholder="Digite o nome">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="">
                                <label>Email</label>
                            </div>
                            <div>
                                <input type="email" id="cliente_email" name="cliente_email" class="form-control" placeholder="exemplo@hotmail.com" >
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="">
                                <label>Cep</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_cep" name="cliente_cep" class="form-control" placeholder="00000111" >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="">
                                <label>UF</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_uf" name="cliente_uf" class="form-control" placeholder="UF" >
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-6">
                            <div class="">
                                <label>Endereço</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_endereco" name="cliente_endereco" class="form-control" placeholder="Rua, Avenida, etc..." >
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="">
                                <label>Número</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_numero" name="cliente_numero" class="form-control" placeholder="N°" >
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="">
                                <label>Cidade</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_cidade" name="cliente_cidade" class="form-control" placeholder="Ex: Londrina" >
                                <input type="hidden" id="cliente_codCidade" name="cliente_codCidade" class="form-control" placeholder="" >
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="">
                                <label>Bairro</label>
                            </div>
                            <div>
                                <input type="text" id="cliente_bairro" name="cliente_bairro" class="form-control" placeholder="Bairro, Jardim, etc.." >
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="NovoCliente btn btn-success" id="BtnNovoCliente">Novo Cliente</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="button" class="btn btn-primary" id="SelecionarCliente">Selecionar</button>
            </div>

        </div>
    </div>
</div>
